 /* Work Sans font from google fonts  */
 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

 /* Shared Styles */
 * {
     margin: 0;
     padding: 0;
 }

 body {
     font-family: 'Work Sans', sans-serif;
 }

 header {
     background: rgba(255, 144, 14, 0.10);
 }

 nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 230px;
 }

 nav>ul {
     display: flex;
     gap: 20px;
 }

 nav>ul>li {
     list-style: none;
 }

 nav>ul>li a {
     text-decoration: none;
 }

 .nav-title {
     color: #131313;
     font-family: Work Sans;
     font-size: 45px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
 }

 ul {
     color: #424242;
     font-family: Work Sans;
     font-size: 18px;
     font-weight: 500;
     line-height: 26px;
 }

 .banner-info {
     display: flex;
     justify-content: center;
     text-align: center;
     margin-top: 116px;
     margin-bottom: 70px;
 }
 .banner-description{
    padding-bottom: 30px;
    padding: 20px;
 }

 .btn-primary {
     border-radius: 8px;
     background: #FF900E;
     border: none;
     padding: 20px;
     color: #FFF;
     text-align: center;
     font-family: Work Sans;
     font-size: 20px;
     font-weight: 600;
     
 }

 .banner img {
     width: 100%;
 }








 /* Media Query */
 /* Mobile Device */
 @media screen and (max-width:576px) {

     nav,
     ul {
         flex-direction: column;
         margin: 20px;
     }


 }